body {
  background-color: var(--c-center-hint);
}

#app {
  --header-height: 56px;
}

.container,
.container-sm,
.container-md,
.container-lg {
  width: calc(100% - 2rem);
  margin: var(--header-height) auto;
}

.container-sm {
  max-width: 576px;
}

.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 1200px;
}

form label:has(+ input[required])::after {
  content: '*'
}