.home {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.action {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action button {
  background-color: var(--c-left-base);
  color: white;
}