.home {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.projects {
  width: 100%;
}

.projects tr > * {
  padding: 0.25rem 0.5rem;
}

.projects tr > *:not(:last-child) {
  border-right: 1px solid slategray;
}

.projects tr:not(:last-child) {
  border-bottom: 1px solid slategray;
}
