.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--c-center-base);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.header span {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: var(--header-height);
  color: var(--bs-white);
}

.header nav {
  display: flex;
}

.header nav a {
  display: inline-block;
  height: var(--header-height);
  line-height: var(--header-height);
  padding-inline: 1rem;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #FFF;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0, 0, 0, 0.2);
}

.header nav a.active {
  background: rgba(0, 0, 0, 0.4);
}