.projects {
  width: 100%;
}

.projects tr > * {
  padding: 0.25rem 1rem;
}

.projects tr > *:not(:nth-child(2)) {
  white-space: nowrap;
}

.projects tr > *:not(:last-child) {
  border-right: 1px solid slategray;
}

.projects tr:not(:last-child) {
  border-bottom: 1px solid slategray;
}

.projects td:nth-child(2) {
  width: 100%;
}
